# Exercícios

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk
import re

import pandas as pd
df = pd.read_csv("https://s3.amazonaws.com/automl-example/produtos.csv",
                 delimiter=";", encoding='utf-8')

In [2]:
df.head()

,nome,descricao,categoria
0,O Hobbit - 7ª Ed. 2013,Produto NovoBilbo Bolseiro é um hobbit que lev...,livro
1,Livro - It A Coisa - Stephen King,Produto NovoDurante as férias escolares de 195...,livro
2,Box As Crônicas De Gelo E Fogo Pocket 5 Li...,Produto NovoTodo o reino de Westeros ao alcanc...,livro
3,Box Harry Potter,Produto Novo e Físico A série Harry Potter ch...,livro
4,Livro Origem - Dan Brown,Produto NovoDe Onde Viemos? Para Onde Vamos? R...,livro

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4080 entries, 0 to 4079
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       4080 non-null   object
 1   descricao  2916 non-null   object
 2   categoria  4080 non-null   object
dtypes: object(3)
memory usage: 95.8+ KB

## 1) utilizando o df acima carregado, faça:

 #### 1.1. Elimine linhas com valores nulos

In [42]:
# resposta
print('antes: ', len(df))
df.dropna(axis=0, subset=['descricao'], inplace=True)
df.reset_index(inplace=True)
print('depois: ', len(df))

antes:  2916
depois:  2916

#### 1.2. Adicione uma nova coluna chamada texto, formada pela composição das colunas nome e descrição

In [43]:
# resposta
df['texto'] = df['nome'] + df['descricao'] 
df.head(3)

,index,nome,descricao,categoria,texto
0,0,O Hobbit - 7ª Ed. 2013,Produto NovoBilbo Bolseiro é um hobbit que lev...,livro,O Hobbit - 7ª Ed. 2013 Produto NovoBilbo Bols...
1,1,Livro - It A Coisa - Stephen King,Produto NovoDurante as férias escolares de 195...,livro,Livro - It A Coisa - Stephen King Produto Nov...
2,2,Box As Crônicas De Gelo E Fogo Pocket 5 Li...,Produto NovoTodo o reino de Westeros ao alcanc...,livro,Box As Crônicas De Gelo E Fogo Pocket 5 Li...

#### 1.3. Quantos Unigramas existem antes e depois de remover stopwords (use a coluna texto)

In [44]:
# resposta
print('Antes de remover Stop-Words: ')
vect = CountVectorizer(ngram_range=(1,1))
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

print('Depois de remover Stop-Words: ')

stops = nltk.corpus.stopwords.words('portuguese')
vect = CountVectorizer(ngram_range=(1,1),stop_words=stops)
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

Antes de remover Stop-Words:
35466
Depois de remover Stop-Words:
35307

#### 1.4. Quantos Bigramas existem antes e depois de remover stopwords (use a coluna texto)

In [23]:
# resposta
print('Antes de remover Stop-Words: ')
vect = CountVectorizer(ngram_range=(2,2))
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

print('Depois de remover Stop-Words: ')

stops = nltk.corpus.stopwords.words('portuguese')
vect = CountVectorizer(ngram_range=(2,2),stop_words=stops)
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

Antes de remover Stop-Words:
159553
Depois de remover Stop-Words:
145224

#### 1.5. Quantos Trigramas existem antes e depois de remover stopwords (use a coluna texto)

In [24]:
# resposta
print('Antes de remover Stop-Words: ')
vect = CountVectorizer(ngram_range=(3,3))
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

print('Depois de remover Stop-Words: ')

stops = nltk.corpus.stopwords.words('portuguese')
vect = CountVectorizer(ngram_range=(3,3),stop_words=stops)
vect.fit(df.texto)
text_vect = vect.transform(df.texto)
print(text_vect.shape[1])

Antes de remover Stop-Words:
228162
Depois de remover Stop-Words:
177377

#### 1.6. Quantos unigramas existem na coluna texto após aplicar Stemmer (utilize rslp)

In [59]:
# resposta
from nltk.stem import RSLPStemmer

stem = RSLPStemmer()
stem1 = [[stem.stem(x) for x in word_tokenize(df['texto'][i])] for i in range(len(df['texto']))]
print(len(stem1))

## 2) crie um tagger baseado em expressões regulares:

#### 2.1 crie uma variável que amazenará uma tupla (expressão regular, tag)

In [ ]:
# resposta
tupla = (exp, tag)

#### 2.2 o tagger deverá capturar gerúndio (ando, endo, indo), plurais e números cardinais

In [61]:
# resposta
patterns = [
     (r'.*ando$', 'VBG'),               # gerundio
     (r'.*endo$', 'VBG'),               # gerundio
     (r'.*aindo$', 'VBG'),              # gerundio
     (r'.*s$', 'NNS'),                  # plural nouns
     (r'^-?[0-9]+(\.[0-9]+)?$', 'CD'),  # cardinal numbers
]

#### 2.3 utilize nltk.RegexpTagger(variável) para carregar seu tagger

In [62]:
# resposta
regexp_tagger = nltk.RegexpTagger(patterns)

#### 2.4 apresente uma frase teste para cada tipo de expressão

In [66]:
# resposta
regexp_tagger.tag(['o cliente vai estar comprando'])

[('o cliente vai estar comprando', 'VBG')]

In [67]:
regexp_tagger.tag(['exemplos'])

[('exemplos', 'NNS')]

In [69]:
regexp_tagger.tag(['99999887'])

[('99999887', 'CD')]